.logo 
{
    color:darkgrey;
    justify-self: start;
    margin-left:35rem;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-top:25px;
}
  
.new
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color:#fca311;
    cursor: pointer;
    font-size:30px;
} 
  /* Social Icons */
  
  .social-icon-link 
  {
    color: #fff;
    font-size: 24px;
  }
  
  .website-rights 
  {
    color: #fff;
    margin-left:35rem;
    display: flex;
    font-size:13px ;
    font-family:'Bookman Old Style';
  }
  
  Footer 
  {
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  }

  ::-webkit-textfield-decoration-container 
  {
    padding-bottom:60px;
  }
 
  
  
  